**__pycache__

# colcon/CMake output
devel/*
log/*
build/*
install/*
bin/*
lib/*

.vscode/
!.vscode/extensions.json
!.vscode/c_cpp_properties.json
.vscode/settings.json

*.part
*.thumbs
*.swp
*.zip

int-ball2_isaac_sim/assets/Kibou
